body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171a21;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    text-align: center;
}
a {
    color: #1b83e7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin-bottom: 20px;
}
